.main-display {
    display: grid;
    grid: 1fr / auto auto;

}

.search-field {
    background-color: var(--dark);
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  input {
    color: black;
  }
  
  .count {
    padding: 8px;
  }
  
  a {
    text-decoration: none;
  }

.icon {
  display: flex;
  justify-content: end;
  width: 100%;
}

