.main-display {
    display: grid;
    grid: 1fr / auto auto;

}

.search-field {
    background-color: #35548b;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .count {
    padding: 8px;
  }
  
  .genre-list {
    padding: 8px;
  
    text-align: center;
  }

/* .show-header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;

} */



